@page "/"

@using System.Linq
@using Blazor.EventPlanner.Data
@inject NavigationManager NavigationManager
@inject MeetupService MeetupService

<p>
    <button class="btn btn-primary" @onclick="CreateNew">Crea nuovo Meetup</button>
</p>
<br/>
<MeetupList Title="I prossimi meetup in calendario" Meetups="@upcomingMeetups" />
<br/>
<MeetupList Title="I meeting passati" Meetups="@pastMeetups" />

@code {
    Meetup[] upcomingMeetups;
    Meetup[] pastMeetups;

    protected override async Task OnInitializedAsync()
    {
        upcomingMeetups = await MeetupService.GetUpcomingMeetupsAsync(DateTime.Now);
        pastMeetups = await MeetupService.GetPastMeetupsAsync(DateTime.Now);
    }

    void CreateNew()
    {
        NavigationManager.NavigateTo("/NewMeetup");
    }
}
